<!DOCTYPE html>
<html lang="no">

<head>
	
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width">
	
	<title><!--@echo title--> | v<!--@echo version--> | <!--@echo NODE_ENV--></title>
	<meta name="description" content="<!--@echo description-->">

	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="./frameworks/startup/flat-ui/dist/images/favicon.ico">
    <link rel="stylesheet" href="./js/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./frameworks/startup/flat-ui/dist/css/flat-ui-pro.min.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="./frameworks/startup/common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="./frameworks/startup/common-files/css/animations.css">
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<link rel="stylesheet" href="./css/<!-- @echo name -->.css">
	<link rel="stylesheet" href="./css/development.css">
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<link rel="stylesheet" href="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/css/<!-- @echo name -->.min.css">
	
	<!-- @endif -->
	
</head>
<body>